<div class="wrapper">
  <div style="display: flex; justify-content: center; align-items: center">
    <app-home></app-home>
  </div>
  <div class="_content">
    <div class="left-side">
      <!--<div>-->
      <!--  <button mat-mini-fab aria-label="reset" (click)="resetWheel()">-->
      <!--    <mat-icon>refresh</mat-icon>-->
      <!--  </button>-->
      <!--</div>-->
      <div style="display: flex; justify-content: center; align-items: center">
        <app-wheel [options]="dataService.option$ | async" (result)="getResult($event)"></app-wheel>
      </div>
      <div>
        <!--  <app-clip-text></app-clip-text>-->
      </div>
      <!--<app-options></app-options>-->
    </div>
    <div class="right-side">
      <div class="account-view" [class.float-in]="winner" [style.background-image]="getBackgroundImage() !== null ? getBackgroundImage() : 'unset'">
        <div *ngIf="winner" class="name">
          <img [src]="'assets/images/' + winner + '.jpg'" alt="">
          <div class="name-account level-1">
            <p class="font-dancing winner-name">{{winner.name}}</p>
            <span class="font-dancing winner-account">{{winner.account}}</span>
          </div>
        </div>

        <div *ngIf="winner" class="winner">
          <div class="level-2 font-math">
            <span>{{winner.wish}}</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="main-background"></div>
<div class="entry-background" (click)="isShowEntryBackground = false" [class.opacity-0]="!isShowEntryBackground"></div>
